
<div class="users">
	<%if users.length != 0 %>
		<% users.each do |user|%>
			<%= link_to lincoln_riders_user_path(user) do%>
				<div class="user">
					<h4>
						<%if user.profile_image == nil %>
							<%= image_tag '/images/noimage.jpg' ,class: "user_profile_icon"%>
						<%else%>
							<%= attachment_image_tag user, :profile_image ,class: "user_profile_icon"%>
						<%end%>
						<%= user.name %>
					</h4>

					<%if user.introduction == nil %>
						<p>文章がありません</p>
					<%else%>
						<p><%= user.introduction %></p>
					<%end%>

				</div>
			<%end%>
		<%end%>
	<%else%>
		<h3>ユーザーがいません</h3>
	<%end%>
</div>