<div class="background clearfix">
	<div class="content_field clearfix">
		<%if flash[:notice]%>
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<%end%>
		<h3 class="page_title">User Edit</h3>
		<%= form_for(@user, url:lincoln_riders_user_path(@user)) do |f| %>
			<div>
				<%= f.label :name %><br>
				<%= f.text_field :name, autofocus: true, placeholder:"名前"%><br>
			</div>
			<div>
				<%= f.label :introduction %><br>
				<%= f.text_area :introduction, autofocus: true, placeholder:"自己紹介"%><br>
			</div>
			<div>
				<div>
					<%= attachment_image_tag @user, :profile_image, :fill, 60, 60 %>
				</div>
					<label class="control-label sr-only" for="user_profile_image">ProfileImage</label>
					<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
			</div>

			<%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>

	<% end %>
	</div>
</div>