<div class="container">
	<div class="col-xs-3">
		<div class="sidebar">
			<div class="newpost">
				<h3>New Post</h3>
				<%= form_with(model: @new_post,url: lincoln_riders_user_posts_path(current_user.id)) do |f|%>
					<%=f.label :内容%>
					<%= f.text_area :text %>
					<p></p>
					<%= f.submit "Create Book" ,class:"btn btn-default"%>
				<%end%>
			</div>
		</div>
	</div>
	<div class="col-xs-9">
		<div class="posts_index">
			<% @user.posts.each do |post|%>
				<div class="post">
					<div class="user">
						<%= link_to lincoln_riders_user_path(post.user_id) do%>
							<%=post.user.email%>
						<%end%>
					</div>
					<div class="post-content">
						<%= link_to lincoln_riders_user_post_path(post.user_id,post.id) do%>
							<%= post.text %>
						<%end%>
							<%= attachment_image_tag post, :image %>
					</div>
				</div>
			<%end%>
		</div>
		<div class="mapped_images_index">
			<% @user.mapped_images.each do |mapped_image| %>
				<div class="mapped_image">
					<div class="user">
						<%= link_to lincoln_riders_user_path(mapped_image.user_id) do%>
							<%=mapped_image.user.email%>
						<%end%>
					</div>
		        	<%= link_to lincoln_riders_user_mapped_image_path(mapped_image.user_id,mapped_image.id) do %>
		        		<%= mapped_image.text %>
		        	<% end %>
					<%= attachment_image_tag mapped_image, :image %>
				</div>
			<% end %>
		</div>
	</div>
</div>