<div class="background clearfix">
	<%= render 'layouts/sidebar',new_post: @new_post %>
	<div class="content clearfix">
		<%if flash[:notice]%>
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<%end%>
		<h3 class="page_title"><%=@user.name%>'s Page</h3>
		<table class="show_user_info">
			<h3>User Info</h3>
			<tr>
				<td>
					<%if @user.profile_image == nil %>
						<%= image_tag '/images/noimage.jpg' ,class: "user_profile_image"%>
					<%else%>
						<%= attachment_image_tag @user, :profile_image ,class: "user_profile_image"%>
					<%end%>
				</td>
				<td class="show_user_info">
					<span >
						<span class="text_title">Name</span><br>
						<%=@user.name%><br>
						<span class="text_title">Introduction</span><br>
						<%=@user.introduction%><br>
						<span class="text_title">follow : </span><%= link_to following_users_index_lincoln_riders_user_path(@user) do %><%=current_user.following_users.count%><%end%>
						<span class="text_title">follower : </span><%= link_to followed_users_index_lincoln_riders_user_path(@user) do %><%=current_user.followed_users.count%><%end%>
					</span>
				</td>
				<%if @user != current_user %>
					<td>
						<br>
						<br>
						<br>
						<%if current_user.followed_by?(@user)%>
							<span>フォローされています</span>
						<%else%>
						<%end%><br>
						<%if @user.followed_by?(current_user)%>
							<%=link_to lincoln_riders_user_follow_relationships_path(@user) ,id: "follow_destroy", method: :delete do %>フォロー中<%end%>
						<%else%>
							<%=link_to lincoln_riders_user_follow_relationships_path(@user) , id: "follow_create", method: :post do %>フォローする<%end%>
						<%end%><br>
					</td>
				<%end%>
			</tr>
		</table>

		<div class="posts_index">
			<h3>Latest Posts</h3>
				<%= render 'lincoln_riders/posts/posts_each',posts: @latest_posts %>
				<%= link_to lincoln_riders_user_show_posts_path do%>
					<div class="mypage_index_link">
						<i class="fas fa-motorcycle bar_icon"></i>もっと見る
					</div>
				<%end%>
		</div>
		<div class="user_show_mapped_images clearfix">
			<h3>Latest Mapped Images</h3>
			<div class="map">
				<!-- 地図を表示させる要素 -->
				<div class="map_box01" style="width: 100%;height: 350px;"><div id="map-canvas" style="width: 100%;height: 100%;"></div></div>
				<form onsubmit="return false;">
					<input type="text" id="address" value="大阪">
					<button type="button" value="検索" id="map_button">検索</button>
				</form>
			</div>
			<div class="mapped_images_index">
				<%= render 'lincoln_riders/mapped_images/mapped_images_each',mapped_images: @latest_mapped_images %>
				<%= link_to lincoln_riders_user_show_mapped_images_path do%>
					<div class="mypage_index_link">
						<i class="fas fa-motorcycle bar_icon"></i>もっと見る
					</div>
				<%end%>
			</div>
		</div>
		<div class="user_delete">
			<%if @user == current_user %>
				<%=link_to "退会する", lincoln_riders_user_path(@user.id), method: :delete ,data: { confirm: "本当に退会しますか？" }%>
			<%end%>
		</div>

	</div>

</div>



<script>

  SetMap.ForRead();

</script>