<%= render 'layouts/admins_sidebar'%>
<div class="background clearfix">
	<div class="content clearfix">
		<%if flash[:notice]%>
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<%end%>
		<h3>投稿Post一覧</h3>
		<table class="table table-striped">
			<tr>
				<td>ID</td>
				<td>内容</td>
				<td>画像</td>
				<td>ユーザー名</td>
				<td>投稿日時</td>
				<td></td>
			</tr>
			<%@posts.each do |post|%>
			<tr>
				<td>
					<%=link_to admins_post_path(post) do%>
						<%=post.id%>
					<%end%>
				</td>
				<td><%=post.text%></td>
				<td><%= attachment_image_tag @post, :image ,class: "admin_show_image"%></td>
				<td><%=link_to admins_user_path(post.user) do%>
						<%=post.user.name%>
					<%end%>
				</td>
				<td><%=post.created_at.strftime('%Y/%m/%d %H:%M:%S')%></td>
				<td><%=link_to "削除", admins_post_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
			</tr>
			<%end%>
			<tr>
			</tr>
		</table>
			<div class="paginate">
		<%= paginate @posts %>
	</div>
	</div>
</div>