<%if mapped_images.length != 0 %>
	<% i = 0 %>
	<% mapped_images.each do |mapped_image| %>
		<div class='mapped_image_field clearfix mapped_image_field_<%=i%>'>
			<%= render 'lincoln_riders/mapped_images/mapped_image_position',mapped_image: mapped_image ,i:i%>
			<%= attachment_image_tag mapped_image, :image ,class: "mapped_image_index mapped_image_index_#{i}" %>
			<div class="mapped_image_info">
				<%= link_to lincoln_riders_user_path(mapped_image.user_id) do%>
					<div class="mapped_image_user">
						<%if mapped_image.user.profile_image == nil %>
							<%= image_tag '/images/noimage.jpg' ,class: "user_profile_icon"%>
						<%else%>
							<%= attachment_image_tag mapped_image.user, :profile_image ,class: "user_profile_icon"%>
						<%end%>
						<%=mapped_image.user.name%><br>
					</div>
				<%end%>
				<%= link_to lincoln_riders_mapped_image_path(mapped_image.id) do %>
					<div class="mapped_image_text_info">
						<%= mapped_image.text %>
					</div>
				<% end %>
			</div>
		</div>
		<% i += 1 %>
	<% end %>
<%else%>
	<h3>投稿がありません</h3>
<%end%>


