<div class="mapped_image_positions">
    <div class="mapped_image_position">
      <%= hidden_field_tag "mapped_image_id","#{@mapped_image.id}", {id: "mapped_image_id_0"} %>
      <%= hidden_field_tag "mapped_image_position","#{@mapped_image.position_lat}", {id: "mapped_image_position_lat_0"} %>
      <%= hidden_field_tag "mapped_image_position","#{@mapped_image.position_lng}", {id: "mapped_image_position_lng_0"} %>
    </div>
</div>
<div class="background clearfix">
  <%= render 'layouts/sidebar',new_post: @new_post %>
  <div class="content clearfix">
	<div>
    <h4>
		  <%=@mapped_image.user.name%>
    </h4>
	</div>
  <div class="links">
    <%= link_to lincoln_riders_user_mapped_image_path(@mapped_image.user_id,@mapped_image.id), method: :delete do %>delete<%end%>
    <%= link_to edit_lincoln_riders_user_mapped_image_path(@mapped_image.user_id,@mapped_image.id) do %>edit<%end%>
  </div>

	<div class="show_mapped_image-field clearfix">
		<%= attachment_image_tag @mapped_image, :image ,class: "show_mapped_image"%>
    <div class="mapped_image_text">
      <span>
        <%= @mapped_image.text %>
      </span>
    </div>
<!-- 地図を表示させる要素 -->
    <form onsubmit="return false;">
      <input type="text" id="address">
      <button type="button" value="検索" id="map_button">検索</button>
    </form>
    <div class="map_box01"style="width: 100%;height: 200px;">
      <div id="map-canvas" style="width: 100%;height: 100%">
      </div>
    </div>
  </div>
</div>

<p>住所や駅名、目印などで検索できます。</p>



</div>
<script>

GetMap.getAddress();


</script>