<div class="mapped_image_positions">
    <div class="mapped_image_position">
      <%= hidden_field_tag "mapped_image_id","#{@mapped_image.id}", {id: "mapped_image_id_0"} %>
      <%= hidden_field_tag "mapped_image_position","#{@mapped_image.position_lat}", {id: "mapped_image_position_lat_0"} %>
      <%= hidden_field_tag "mapped_image_position","#{@mapped_image.position_lng}", {id: "mapped_image_position_lng_0"} %>
    </div>
</div>
<div class="background clearfix">
  <%= render 'layouts/sidebar',new_post: @new_post %>
  <div class="content clearfix">
    <%if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <%end%>

      <div class="post_titile clearfix">
        <div class="post_user">
          <h4>
            <%if @mapped_image.user.profile_image == nil %>
              <%= image_tag '/images/noimage.jpg' ,class: "user_profile_icon"%>
            <%else%>
              <%= attachment_image_tag @mapped_image.user, :profile_image ,class: "user_profile_icon"%>
            <%end%>
            <%=@mapped_image.user.name%>
          </h4>
        </div>
        <div class="post_date">
          <%=@mapped_image.created_at.strftime('%Y/%m/%d %S:%M:%H')%>
        </div>
      </div>

	<div class="show_mapped_image_content clearfix">
		<%= attachment_image_tag @mapped_image, :image ,class: "show_mapped_image"%>
    <div class="mapped_image_text">
      <span>
        <%= @mapped_image.text %>
      </span>
    </div>
<!-- 地図を表示させる要素 -->
<p>住所や駅名、目印などで検索できます。</p>
    <form onsubmit="return false;">
      <input type="text" id="address">
      <button type="button" value="検索" id="map_button">検索</button>
    </form>
    <div class="map_box01"style="width: 100%;height: 200px;">
      <div id="map-canvas" style="width: 100%;height: 100%">
      </div>
    </div>
  </div>
    <div class="links">
      <div id="mapped_images_fav">
        <%if @mapped_image.mapped_images_fav_by?(current_user)%>
          <%= link_to lincoln_riders_mapped_image_mapped_images_favs_path(@mapped_image), class: "mapped_images_fav_deatroy", method: :delete, remote: true do %>
            <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>
          <%end%>
        <%else%>
          <%= link_to lincoln_riders_mapped_image_mapped_images_favs_path(@mapped_image), class: "mapped_images_fav_create", method: :post, remote: true do %>
            <i class="fa fa-heart" aria-hidden="true"></i>
          <%end%>
        <%end%>
      </div>
        <%if @mapped_image.user_id == current_user.id%>
          <div class="delete">
            <%= link_to lincoln_riders_mapped_image_path(@mapped_image.id), method: :delete do %>delete<%end%>
          </div>
          <div class="edit">
            <%= link_to edit_lincoln_riders_mapped_image_path(@mapped_image.id) do %>edit<%end%>
          </div>
        <%end%>
    </div>
</div>


</div>
<script>

  SetMap.ForRead();

</script>