<div class="background clearfix">

	<%= render 'layouts/sidebar',new_post: @new_post %>
	<div class="content clearfix">
		<%if flash[:notice]%>
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<%end%>
		<div>
			<div class="reply_post">
				<%@post.replying_posts.each do |replying_post|%>
					<%= render 'lincoln_riders/posts/post_show',post: replying_post %>
				<%end%>
			</div>

			<%= render 'lincoln_riders/posts/post_show',post: @post %>

			<div class="reply_post">
				<%@post.replied_posts.each do |replied_post|%>
					<%= render 'lincoln_riders/posts/post_show',post: replied_post %>
				<%end%>
			</div>
		</div>
	</div>
</div>