<div class="background clearfix">

	<%= render 'layouts/sidebar',new_post: @new_post %>
	<div class="content clearfix">
		<div class="post_show">
			<div class="post_titile clearfix">
				<div class="post_user">
					<h4>
						<%=@user.name%>
					</h4>
				</div>
				<div class="post_date">
					<%=@post.created_at.strftime('%Y/%m/%d %H:%M:%S')%>
				</div>
			</div>
			<div>
				<h3>
					<%=@post.text%>
				</h3>
				<div class="images_post_show">
					<%= attachment_image_tag @post, :image ,class: "show_post_image"%>
				</div>
			<div class="links">
				<h4>
					<div id="post_fav">
						<%if @post.post_fav_by?(current_user)%>
							<%= link_to lincoln_riders_post_post_favs_path(@post), class: "post_fav_deatroy", method: :delete, remote: true do %>
								<i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>
							<%end%>
						<%else%>
							<%= link_to lincoln_riders_post_post_favs_path(@post), class: "post_fav_create", method: :post, remote: true do %>
								<i class="fa fa-heart" aria-hidden="true"></i>
							<%end%>
						<%end%>
					</div>
					<div class="delete">
						<%= link_to lincoln_riders_post_path(@post), method: :delete do%>delete<%end%>
					</div>
					<div class="edit">
						<%= link_to edit_lincoln_riders_post_path(@post) do%>edit<%end%>
					</div>

				</h4>
			</div>
		</div>
	</div>
</div>