<div class="sidebar">
	<div class="users-info">
		<h3>User Info</h3>
		<div class="user">
			<div>
				<%if current_user.profile_image == nil %>
						<%= image_tag '/images/noimage.jpg' ,class: "user_profile_image"%>
				<%else%>
					<%= attachment_image_tag current_user, :profile_image ,class: "user_profile_image"%>
				<%end%>
		</div>
			<span class="text_title">Name</span><br><span><%= current_user.name%></span><br>
			<span class="text_title">Introduction</span><br><span><%= current_user.introduction%></span><br>
		</div>
		<div class="follow">
			<span class="text_title">follow : </span><%= link_to following_users_index_lincoln_riders_user_path(current_user) do %><%=current_user.following_users.count%><%end%>
			<span class="text_title">follower : </span><%= link_to followed_users_index_lincoln_riders_user_path(current_user) do %><%=current_user.followed_users.count%><%end%>
        </div>
        <div class="edit">
			<%= link_to edit_lincoln_riders_user_path(current_user) do%>
				edit
			<%end%>
        </div>
	</div>

	<div class="newpost">
		<h3>New Post</h3>
		<%= form_for(new_post,url: lincoln_riders_posts_path) do |f| %>
			<%= f.label :内容%><br>
			<%= f.text_area :text ,id: "sidebar_text", style: 'width:100%;'%><br>
			<%= f.label :image%><br>
			<%= f.attachment_field :image %><br>

			<%= f.submit "Create Post" ,class:"btn btn-default" ,name:"sidebar_commit"%>
		<%end%>
	</div>
	<div class="newmappedimage">
		<h3>New MappedImage</h3>
		<%= link_to new_lincoln_riders_mapped_image_path do%>
			Create Mapped Image
		<%end%>
	</div>
</div>