<!DOCTYPE html>
<html>
    <head>
      <title>LincolnRiders</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">

      <script src="https://kit.fontawesome.com/6b90a1f084.js"></script>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <script type="text/javascript" src="//maps.google.com/maps/api/js?key=<%=ENV['KEY']%>"></script>
    </head>

    <body>
      <header>
        <div class="nav_content clearfix">
          <div class="nav_left">
            <%= link_to lincoln_riders_root_path do%>
              <h2 class="header_title">Lincoln Riders</h2>
            <%end%>
          </div>
          <div class="nav_right">
            <div>
              <i class="fas fa-bars menu_icon" id="menu_icon_open"></i>
              <i class="fas fa-times menu_icon" id="menu_icon_close"></i>
            </div>
          </div>
        </div>
        <div class="menu_bar">
            <%if user_signed_in?%>
                <%= link_to destroy_user_session_path, method: :delete do %><li class="nav_item">logout</li><% end %>
                <%= link_to lincoln_riders_user_mypage_path do%><li class="nav_item"><%=current_user.name%></li><%end%>
                <%= link_to lincoln_riders_about_path do%><li class="nav_item">about</li><%end%>
                <%= link_to lincoln_riders_root_path do%><li class="nav_item">top</li><%end%>
                <%= link_to lincoln_riders_mapped_images_path do%><li class="nav_item">mapped image</li><%end%>
                <%= link_to  lincoln_riders_posts_path do%><li class="nav_item">post</li><%end%>
            <%else%>
                <%= link_to new_user_session_path do%><li class="nav_item">login</li><%end%>
                <%= link_to new_user_registration_path do%><li class="nav_item">signup</li><%end%>
                <%= link_to lincoln_riders_about_path do%><li class="nav_item">about</li><%end%>
                <%= link_to lincoln_riders_root_path do%><li class="nav_item">top</li><%end%>
            <%end%>
        </div>
      </header>
      <div class="main">
        <%= yield %>
      </div>
      <footer>
        <div class="footer-text-field">
          <p class="footer_copyright">©︎　Lincoln Riders</p>
        </div>
      </footer>
    </body>
</html>
